:root {
    --selection-color: #BBFFBB;
    --button-color: white;
    --button-size: 64px;
    --button-margin: 24px;
}

html, body { 
    height: 100%;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(180deg, #102010, #404060);
}

.app-container {
    height: 100%;
}

.hand {
    height: 100%;
}

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.2s;
    height: 100%;
    /** 
     * used to make sure the z index is preserved 
     * see https://stackoverflow.com/questions/20851452/z-index-is-canceled-by-setting-transformrotatecss (comment by GYTO)
     */
    transform-style: preserve-3d;
}

.card-item {
    display: inline-flex;
    align-items: stretch;
    transition: transform 0.25s;
    transition-timing-function: ease-in-out;
    justify-content: center;   
    color: white;
    border-radius: 32px;
    position: absolute;
}

.card-overlay-active {
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(40,42,44,0.2));
    width: 100%;
    border-radius: 32px;
}

.card-overlay {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.1), rgba(40,42,44,0.45));
    width: 100%;
    border-radius: 32px;
}

.card-item-active {
    filter: drop-shadow(0 0 0.75rem rgb(88, 88, 88));

    /** This supposedly helps performance on phones ... not seeing it though*/
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
    backface-visibility: hidden;
    will-change: transform;
}

.card-item-selected {
    filter: drop-shadow(0 0 0.8rem var(--selection-color));

    /** This supposedly helps performance on phones ... not seeing it though*/
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
    backface-visibility: hidden;
    will-change: transform;
}


.indicators {
    display: flex;
    justify-content: center;  
    min-height: 24px;
    min-width: 1px;
}

.indicators > button {
    margin: 5px;
    border-radius: 50%;
}

.indicators > button.active {
    background-color: green;
    color: white;
}

.indicator {
    margin: 5px;
    border-radius: 50%;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    background-color: rgba(255,255,255,0);
    border: 2px solid rgba(155,155,155,1);
}

.indicator-active {
    background-color: rgba(255,255,255,1);
}

.indicator-selected {
    border: 2px solid var(--selection-color);
}

.platform-context {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4px;
    font-size: large;
    color: white;
}

.button-panel {
    display: flex;
    justify-content: center;
    margin: 12px;
}

.button-panel-button {
    background-color: var(--button-color);

    mask-size: contain;
    -webkit-mask-size: contain;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    transition: transform background-color 0.05s;
    transform: scale(1.0, 1.0);

     width: var(--button-size);
    height: var(--button-size);
    margin-left: var(--button-margin);
    margin-right: var(--button-margin);
}

.button-panel-button.sync-button {
    -webkit-mask-image: url('./data/font-awesome/sync-alt.svg');
    mask-image: url('./data/font-awesome/sync-alt.svg');  
}

.sync-button:active {
    background-color: var(--selection-color);
    transform: scale(0.9, 0.9);
}

.button-panel-button.lock-button {
    -webkit-mask-image: url('./data/font-awesome/lock.svg');
    mask-image: url('./data/font-awesome/lock.svg');
}

.lock-button:active {
    background-color: var(--selection-color);
    transform: scale(0.9, 0.9);
}

.button-panel-button.lock-button-open {
    -webkit-mask-image: url('./data/font-awesome/lock-open.svg');
    mask-image: url('./data/font-awesome/lock-open.svg');
}

.lock-button-open:active {
    background-color: var(--selection-color);
    transform: scale(0.9, 0.9);
}